/* @import url('https://fonts.cdnfonts.com/css/star-wars'); */

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 20px 0 20px;
    z-index: 1;
}

.logo, .favorites{
    width: 50px;
    height: 50px;
}

.sideMenuBtn {
    display: none;
}

.items {
    display: flex;
    align-items: center;
    gap: 50px;
}

.item {
    transition: all .1s ease-in-out;
    /* font-family: 'Star Wars', sans-serif; */
    font-size: 18px;
}

.item a {
    color: var(--color-white);
    text-decoration: none;
}

.item:hover {
    text-shadow: 0px 2px 15px var(--color-light-blue),
     5px 2px 15px var(--color-light-blue),
      0px 2px 15px var(--color-light-blue),
       -5px 2px 15px var(--color-light-blue);
}

.itemActive {
    text-shadow: 0px 2px 15px var(--color-light-blue),
    5px 2px 15px var(--color-light-blue),
     0px 2px 15px var(--color-light-blue),
      -5px 2px 15px var(--color-light-blue);
}

.link {
    position: relative;
    transition: all .1s ease-in-out;
}

.link:hover {
    transform: scale(1.1);
}

.countOfFavorites {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    color: var(--color-black);
}

@media (max-height: 800px)  {
    .wrapper {
        margin: 20px 0 20px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        position: absolute;
        transition: all .2s ease-in-out;
        transform: translateX(0%);
        justify-content: space-evenly;
        top: 0;
        height: 100%;
        width: 70%;
        flex-direction: column;
        margin: 0;
        background: var(--color-light-black);
        z-index: 2;
    }

    .active {
        transform: translateX(-100%);
    }

    .items {
        height: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        gap:0;
    }

    .menuBtn {
        width: 50px;
        height: 35px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        cursor: pointer;
        z-index: 200;
    }
    
    .menuBtn span {
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--color-white);
        transition: all 0.5s;
        border-radius: 4px;
    }
    
    .menuBtn span:nth-of-type(2) {
        top: calc(50% - 10px);
    }
    
    .menuBtn span:nth-of-type(3) {
        top: calc(50% + 10px);
    }
    
    .menuBtn.menuActive span:nth-of-type(1) {
        display: none;
    }
    
    .menuBtn.menuActive span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);
    }
    
    .menuBtn.menuActive span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg);
    }

}
